<h1><%= @recipe.name.capitalize %></h1>

<h3>Ingredients:</h3>

<p><%= link_to "Load Ingredients", recipe_ingredients_path(@recipe), :class => "load_ingredients", remote: true %></p>
<!--%= render 'ingredients/ingredients' %-->

<div class="ingredients">
</div><br>

<%= render 'ingredients/new' %><br>
<!--%= button_to "Add Ingredients", new_recipe_ingredient_path(@recipe), method: 'get' %-->

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: 'get' %>  
<%= button_to "Delete Recipe", "/recipes/#{@recipe.id}", method: 'delete' %>

<%= render 'comments/form' %>

<h2>Comments: </h2>

<!--%= render 'comments/comments' %-->
<p><%= link_to "Load Comments", recipe_comments_path(@recipe), :class => "load_comments", remote: true %></p>

<div class="comments">
</div><br>