<h1><%= @recipe.name.capitalize %></h1>

<p><%= link_to "Load Ingredients", recipe_ingredients_path(@recipe), :class => "load_ingredients" %></p>
<!--%= render 'ingredients/ingredients' %-->

<div class="ingredients">
  
</div><br>

  <%= form_for([@recipe, @ingredient]) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "Add Ingredient" %>
  <% end %>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: 'get' %>  
<%= button_to "Delete Recipe", "/recipes/#{@recipe.id}", method: 'delete' %>

<%= render 'comments/form' %>

<!--%= render 'comments/comments' %-->
<p><%= link_to "Load Comments", recipe_comments_path(@recipe), :class => "load_comments" %></p>

<div class="comments">

</div><br>