<h1><%= @recipe.name.capitalize %></h1>

<div id="recipe_ingredients"></div>
<div class="ingredients"></div><br>

  <%= form_for([@recipe, @ingredient]) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Add Ingredient" %>
  <% end %>

<%= button_to "Edit Recipe", edit_recipe_path(@recipe), method: 'get' %>
<%= button_to "Delete Recipe", "/recipes/#{@recipe.id}", method: 'delete' %><br>

<%= render 'comments/form' %>

<div id="recipe_comments"></div>
<div class="comments"></div><br>  